<!-- Compact Card Client -->
<div class="card flex-fill border-0 px-0 mx-3 mb-3">
    <div class="d-flex m-2">
        <!-- img -->
        <img class="rounded img-fluid"
             src="{% if cliente.imagen %}/{{ cliente.imagen }}{% else%}/upload/img/empleados/blank-profile-picture.jpg{% endif%}"
             style="width: 72px; height: 72px;">
        <!-- content -->
        <div class="d-flex align-items-center ms-3">
            <div class="">
                <h4 class="card-title d-flex justify-content-start">
                    <a href="#" class="text-inherit text-decoration-none">
                        {{ cliente.nombre }} {{ cliente.apellido }}
                    </a>
                    <span class="ms-2 text-inherit">#{{ cliente.id }}</span>
                </h4>
                <div class="">
                    <span></span>
                </div>
            </div>
        </div>
        <!-- extra -->
        <div class="d-flex align-items-center ms-auto">
            {% if cliente.activo %}
            <div><i class="fa-solid fa-circle fs-6" style="color:#76D5C1;"></i></div>
            <div class="ms-2 fs-5">Activo</div>
            <div class="dropdown d-flex justify-content-end m-3">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    style="width: 40px; height: 40px;">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end mt-1">
                    <li><a class="dropdown-item" href="/clientes/desactivar/{{ cliente.id }}">Desactivar</a></li>
                    <li>
                        <a class="dropdown-item" href="#" onclick="edit_cliente(this)" data-id="{{ cliente.id }}"
                            data-bs-toggle="modal" data-bs-target="#newEmployeeModal">
                            Modificar
                        </a>
                    </li>
                </ul>
            </div>
            {% else %}
            <div><i class="fa-solid fa-circle fs-6 text-danger"></i></div>
            <div class="ms-2 fs-5">Inactivo</div>
            <div class="dropdown d-flex justify-content-end m-3">
                <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    style="width: 40px; height: 40px;">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-end mt-1">
                    <li><a class="dropdown-item" href="/clientes/activar/{{ cliente.id }}">Activar</a></li>
                    <li>
                        <a class="dropdown-item" href="#" onclick="edit_cliente(this)" data-id="{{ cliente.id }}"
                            data-bs-toggle="modal" data-bs-target="#newEmployeeModal">
                            Modificar
                        </a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>