<!-- Card Employee-->
<div class="col px-0">
    <div class="table-responsive table"
         id="dataTable"
         role="grid"
         aria-describedby="dataTable_info">
        <table class="table my-0">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Estado</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!-- Inicio de TD -->
            {% for cliente in clientes %}
            <tr class="align-middle">
                <td>{{ cliente.nombre }}</td>
                <td>{{ cliente.apellido }}</td>
                <td style="width: 116px;">
                    {% if cliente.activo %}
                    <a class="btn btn-primary" href="/clientes/desactivar/{{ cliente.id }}">Activo</a>
                    {% else %}
                    <a class="btn btn-secondary" href="/clientes/activar/{{ cliente.id }}">Desactivado</a>
                    {% endif %}
                </td>
                <td style="width: 100px;">
                    <a class="btn btn-warning"
                       href="#"
                       onclick="edit_cliente(this)"
                       data-id="{{ cliente.id }}"
                       data-bs-toggle="modal"
                       data-bs-target="#newClientModal">
                        Modificar
                    </a>
                </td>
            </tr>
            {%endfor%}
            <!-- Fin de TD -->
            </tbody>
        </table>
    </div>
</div>