<!-- Card Employee-->
<div class="col px-0">
    <div class="table-responsive table"
         id="dataTable"
         role="grid"
         aria-describedby="dataTable_info">
        <table class="table my-0">
                            <thead>
                            <tr>
                                {% for titulo in headers %}
                                <th>{{ titulo }}</th>
                                {%endfor%}
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Inicio de TD -->
                            {% for servicio in servicios %}
                            <tr class="align-middle">
                                <td>{{ servicio.id }}</td>
                                <td>{{ servicio.nombre }}</td>
                                <td>$ {{ servicio.precio }}</td>
                                <td style="width: 116px;">
                                    {% if servicio.activo %}
                                    <a class="btn btn-primary" href="/servicios/desactivar/{{servicio.id }}">Activo</a>
                                    {% else %}
                                    <a class="btn btn-secondary" href="/servicios/activar/{{ servicio.id }}">Desactivado</a>
                                    {% endif %}
                                </td>
                                <td style="width: 100px;">
                                    <a class="btn btn-warning"
                                       href="#"
                                       onclick="edit_servicio(this, '{{ servicio.descripcion }}')"
                                       data-id="{{ servicio.id }}"
                                       data-bs-toggle="modal"
                                       data-bs-target="#newServiceModal">
                                       Modificar
                                    </a>
                                </td>
                            </tr>
                            {%endfor%}
                            <!-- Fin de TD -->
                            </tbody>
                        </table>
    </div>
</div>