{% extends "base.html" %}
{% load static %}

{% block content%}
{% include 'addons/new-client.html' %}
{% include 'addons/import_client.html' %}
<div class="container-fluid">
    <div class="row mx-3 mb-3 d-lg-none">
        <div class="col collapse" id="collapseMenu" style="">
            <div class="card card-body row">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}" aria-current="page">Dashboard</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link border-bottom-0"
                       data-bs-toggle="collapse"
                       href="#manage_product2"
                       role="button"
                       aria-controls="manage_product"
                       aria-expanded="false">
                        Administrar servicios
                    </a>
                      <ul id="manage_product2" class="navbar-nav collapse" aria-expanded="false">
                        <li class="nav-item">
                            <a class="nav-link border-bottom-0 ps-4" href="{% url 'services_list' %}"
                               aria-expanded="false">
                                Servicios
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link border-bottom-0 ps-4" href="{% url 'reservations-list' %}"
                               aria-expanded="false">
                                Reservas
                            </a>
                        </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_employee' %}">Empleados</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'lista_cliente' %}">Clientes</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'list_coordinator' %}">Coordinadores</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/admin/">Panel de Administración</a>
                  </li>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/api/v2/">API</a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="d-sm-flex justify-content-between align-items-center mb-4 mx-3">
                <div>
                    <h3 class="mb-1">Clientes</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'lista_cliente' %}">Clientes</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Listado</li>
                        </ol>
                    </nav>
                </div>
                <div class="d-flex justify-content-end">
                    <a class="btn btn-custom btn-sm d-none d-sm-inline-block mx-2"
                       data-bs-toggle="modal"
                       data-bs-target="#importModal"
                       href="#">
                        <i class="fa-solid fa-upload"></i>
                        &nbsp;Importar
                    </a>
                    <a class="btn btn-custom btn-sm d-none d-sm-inline-block mx-2"
                       href="{% url 'export_data_client' %}?format=csv">
                        <i class="fa-solid fa-download"></i>
                        &nbsp;Exportar
                    </a>
                    <a class="btn btn-primary btn-sm d-none d-sm-inline-block ms-2 px-3"
                       onclick="cleanData('Cliente')"
                       data-bs-toggle="modal"
                       data-bs-target="#newClientModal"
                       href="#">
                        &nbsp;Nuevo Cliente
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-0 shadow-sm mx-3">
                <div class="card-header d-flex border-0 pb-0">
                    <div class="col">
                        {% load custom_filters %}
                        <ul class="nav nav-underline ps-3">
                            <li class="nav-item">
                                <a class="nav-link {% if filter == 'all' %}active{% endif %}"
                                   id="all-filter"
                                   href="?filter=all">
                                    Todos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if filter == 'active' %}active{% endif %}"
                                   id="active-filter"
                                   href="?filter=active">
                                    Activos
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if filter == 'inactive' %}active{% endif %}"
                                   id="inactive-filter"
                                   href="?filter=inactive">
                                    Inactivos
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <!-- nav options -->
                        <ul class="nav nav-underline justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link px-0 active border-bottom-0"
                                   id="a_table_id"
                                   data-bs-toggle="tab"
                                   data-bs-target="#table_id"
                                   role="tab"
                                   aria-controls="table_id"
                                   aria-selected="false"
                                   onclick="setViewMode('view-mode', 'table')"
                                   href="#">
                                    <i class="fs-4 fa-solid fa-table-list"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-2 border-bottom-0"
                                   id="a_compact_cards_id"
                                   data-bs-toggle="tab"
                                   data-bs-target="#compact_cards_id"
                                   role="tab"
                                   aria-controls="compact_cards_id"
                                   aria-selected="false"
                                   onclick="setViewMode('view-mode', 'compact_card')"
                                   href="#">
                                    <i class="fs-4 fa-solid fa-list-ul"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-0 border-bottom-0"
                                   id="a_cards_id"
                                   data-bs-toggle="tab"
                                   data-bs-target="#cards_id"
                                   role="tab"
                                   aria-controls="cards_id"
                                   onclick="setViewMode('view-mode', 'card')"
                                   href="#">
                                    <i class="fs-4 fa-solid fa-table-cells-large"></i>
                                </a>
                            </li>
                        </ul>
                        <div class="d-flex justify-content-end align-items-center pt-1">
                        </div>
                    </div>
                </div>
                <div class="card-body pt-1 pb-0">
                    <div class="row mb-2">
                        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-3 col-xxl-3 text-nowrap">
                            <label class="form-label d-flex align-items-center">Mostrar &nbsp;
                                <select class="d-flex form-select form-select-sm"
                                        id="cantidad-select" name="cantidad">
                                    <option value="5" {% if cnt == 5 %}selected{% endif %}>5</option>
                                    <option value="10" {% if cnt == 10 %}selected{% endif %}>10</option>
                                    <option value="20" {% if cnt == 20 %}selected{% endif %}>20</option>
                                    <option value="50" {% if cnt == 50 %}selected{% endif %}>50</option>
                                </select>&nbsp;
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-9 col-xxl-9">
                            <div class="text-end d-flex align-items-center justify-content-end">
                                <form class="d-flex flex-sm-fill align-items-center" action="{% url 'lista_cliente' %}" method="GET" novalidate="">
                                    <button class="btn position-absolute ps-3 py-auto" type="submit" style="">
                                        <i class="fa fa-search" style="font-size: 12px;"></i>
                                    </button>
                                    <input type="search" name="search" class="form-control ps-6 search" placeholder="Buscar cliente..." style="height: 30px;">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
    <div class="tab-content" id="tab-content">
        <div class="tab-pane active show" id="table_id" role="tabpanel" aria-labelledby="table_id">
            <div class="row mt-4 mx-3">
                {% include 'addons/table_client.html' %}
            </div>
        </div>
        <div class="tab-pane fade" id="compact_cards_id" role="tabpanel" aria-labelledby="compact_cards_id">
            <div class="row mt-4 mx-1">
                {% for cliente in clientes %}
                {% include 'addons/compact_card_client.html' %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="cards_id" role="tabpanel" aria-labelledby="cards_id">
            <div class="row mt-4 mx-1">
                {% for cliente in clientes %}
                <div class="col col-sm-6 col-md-4 col-lg-4 col-xxl-3 d-flex flex-grow mb-3" id="card_{{ emplead.id }}">
                    {% include 'addons/card_client.html' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-0 shadow-sm mx-3">
                <div class="card-footer rounded-top border-0 d-flex pt-3 pb-1">
                    <div class="col">
                        <nav class="d-flex justify-content-center">
                            <ul class="pagination">
                                {% if clientes.has_previous %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?{% if request.GET %}{{ request.GET.urlencode|remove:'page' }}&{% endif %}page={{ clientes.previous_page_number }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">Anterior</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">Anterior</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% for num in page_range %}
                                {% if clientes.number == num %}
                                <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                                {% else %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?{% if request.GET %}{{ request.GET.urlencode|remove:'page' }}&{% endif %}page={{ num }}">
                                        {{ num }}
                                    </a>
                                </li>
                                {% endif %}
                                {% endfor %}

                                {% if clientes.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="?{% if request.GET %}{{ request.GET.urlencode|remove:'page' }}&{% endif %}page={{ clientes.next_page_number }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">Siguiente</span>
                                    </a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">Siguiente</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% block scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var selectElement = document.getElementById("cantidad-select");
        var cnt = window.location.pathname.split("/").slice(-2, -1)[0];

        if (!isNaN(parseInt(cnt, 10))) selectElement.value = cnt;

        selectElement.addEventListener("change", function() {

            var filterElements = ['all-filter', 'active-filter', 'inactive-filter'];
            var activeFilter = "";

            for (var i = 0; i < filterElements.length; i++) {
                if (document.getElementById(filterElements[i]).classList.contains("active")) {
                    activeFilter = document.getElementById(filterElements[i]).getAttribute("href").split("=")[1];
                    break;
                }
            }

            var cantidad = this.value;
            var baseUrl = window.location.origin + window.location.pathname;
            var newUrl = updatePathSegment(baseUrl, cantidad, activeFilter);
            window.location.href = newUrl;
        });

        function updatePathSegment(url, value, filter) {
            var segments = url.split("/");
            var lastSegment = segments[segments.length - 2];
            if (!isNaN(lastSegment)) segments.splice(-2, 1);
            segments.splice(-1, 1, value);

            if (filter) {
                var queryString = "filter=" + filter;
                var hasQueryString = url.indexOf("?") !== -1;

                if (hasQueryString) {
                    segments.splice(-1, 1, "?" + queryString);
                } else {
                    segments.push("?" + queryString);
                }
            }

            return segments.join("/");
        }
    });
</script>
{% endblock %}