{% extends "base1.html" %}

{% block content %}
<div class="container-fluid">
    <div>
        <div class="row mt-5">
            <div class="col d-flex justify-content-center">
                <h4>Galeria de</h4>

            </div>
        </div>
        <div class="row mb-3">
            <div class="col d-flex justify-content-center">
                <h2>Fotos</h2>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-5">
    <!-- Gallery -->
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1BMxAIwu-mxe4GrsvH6GO2Ri5hFrY15DXhT6rLjSlC7kDCBoSQpg79BlTclrZ9dt75aw&usqp=CAU"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Boat on Calm Water"
            />

            <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzxZDjlGXvq7qpgbSBBWzfdil1Q7b7py9FdA&usqp=CAU"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Wintry Mountain Landscape"
            />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrtIvc8SNHAe7ibOTpRz3xjze7_btzjXXPCCOgXFYwXpHL8Ga71N-LEcHGwr9o9mXn1Z4&usqp=CAU"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Mountains in the Clouds"
            />

            <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfvL8xSLWsKS731Ky06WnkzM1PuJCY47oe2ltRz1BIEEVrKuxkZ-5jYJJP9O_U0FczGBY&usqp=CAU"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Boat on Calm Water"
            />
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAIiyD1upibipAIsXrBg2oLNlUFn7fZWAfP4I7TzEvp9UDTjnZtmxBpQlTTJ3MsFGWr4I&usqp=CAU"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Waves at Sea"
            />

            <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgR2Feo7LlVyltxV7bsfIATom9zgpSkAm5dkwoPVtbYuaLEh9ZSqdQWzCMvNHG0R6l3qw&usqp=CAU"
                    class="w-100 shadow-1-strong rounded mb-4"
                    alt="Yosemite National Park"
            />

        </div>
    </div>
</div>
    {% endblock %}